datasets/**/*.jpg
datasets/**/*.json


datasets/**/*.jpg
datasets/**/*.json


outputs/**/*.png
outputs/**/*.jpg
outputs/**/*.json
outputs/**/*.pdopt
outputs/**/*.pdparams
outputs/**/*.states
outputs/**/*.log

outputs2/**/*.png
outputs2/**/*.jpg
outputs2/**/*.json
outputs2/**/*.pdopt
outputs2/**/*.pdparams
outputs2/**/*.states
outputs2/**/*.log

pretrained_models/*